/* Slab stylesheet */

/* Slab container */
.slab-container {
  background-color: #D7B98F;
  height: 50vh;
  width: 100%;
  }
  
  /* Slab */
  .slab {
  background-color: #B59B6B;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 0 auto;
  max-width: 85%;
  }
  
  /* Slab expansion */
  .slab-expand {
    display:none;
  animation: expand 0.5s linear forwards;
  height: 100%;
  }
  
  /* Chevron */
  .chevron {
  border: solid #B59B6B;
  border-width: 0 10px 10px 0;
  display: inline-block;
  height: 50px;
  position: relative;
  right: 20px;
  top: 20px;
  transform: rotate(45deg);
  width: 50px;
  }