/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: #2B2D42;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #F2643D;
  padding: 2rem;
}

h1 {
  color: #FF8A5B;
  font-size: 3rem;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 900px;
  padding: 2rem;
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

section:nth-child(odd) {
  background-color: #F1EAD5;
}

section:nth-child(even) {
  background-color: #EDE6D1;
}

h2 {
  color: #F6B48F;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  color: #1D3C3D;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 2rem;
}

img {
  margin-top: auto;
  max-height: 50%;
  max-width: 100%;
}

footer {
  background-color: #2B2D42;
  color: #F2643D;
  padding: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #F9CFA7;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #F6B48F;
}