/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

header, footer {
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 20vh;
  min-height: min-content;
  background-color: #8B4F2C;
  background-image: url(images/head.png) cover;
  background: radial-gradient(ellipse at center,#571e1f, #5F3C23, #8B4F2C, #C67349, rgba(255, 255, 255, 0));
  text-align: center;
  align-items:center;
  color:#f9cfa7;
}

h1 {
  color: #ff8a5b;
  text-shadow: -1px -1px 2px #f2643d, 1px 1px 2px #f9cfa7;
  font-size: 5rem;
margin:0;
padding:0;
}

main {
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
}

main section {
  min-height: min-content;
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #f1ead5, #ede6d1, #ebe1cd, #e7dcc8, #e4d8c4, #e1d4c0);
}

main section:nth-child(1),
main section:nth-child(2),
main section:nth-child(6) {
  flex-direction: row;
}

main section:nth-child(1) article,
main section:nth-child(2) article,
main section:nth-child(6) article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  width: 80%;
  height: 100%;
  text-align: left;
  word-wrap: break-word;
}

main section:nth-child(1) figure,
main section:nth-child(2) figure,
main section:nth-child(6) figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  overflow:hidden;
}
main section:nth-child(1) figure img,
main section:nth-child(6) figure img{
  position:relative;
  right: 0;
  height: 100%;
  width: auto;
}
main section:nth-child(2) figure img{
  position:relative;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

main section:nth-child(3) article {
  height: 75%;
}

main section:nth-child(3) figure {
  height: 25%;
  overflow:hidden;
}
main section:nth-child(3) figure img{
  position:relative;
bottom: 0;
  width: 100%;
  height:auto;
}
main section:nth-child(3) article,
main section:nth-child(4) article,
main section:nth-child(5) article {
  width: 100%;
}

main section:nth-child(4) article {
  height: 50vh;
}

h1, h2, h3, h4, h5,  h6 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  color: #f6b48f;
  text-shadow: -1px -1px 2px #f4a26a, 1px 1px 2px #f9cfa7;
  font-size: 2.5rem;
}

h3 {
  color: #00afb9;
  text-shadow: -1px -1px 2px #0081a7, 1px 1px 2px #00dac7;
  font-size: 2rem;
}

h4 {
  color: #7f2b2e;
  text-shadow: -1px -1px 2px #571e1f, 1px 1px 2px #bf3c3e;
  font-size: 1.5rem;
}

h5 {
  color: #f6b48f;
  text-shadow:  -1px -1px 2px #f4a26a, 1px 1px 2px #f9cfa7;
  font-size: 1rem;
}

main p {
  color: #1d3c3d;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  width: 100%;
}

blockquote {
  line-height: 1.5rem;
}

q {
  color: #1d3c3d;
  font-style: italic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f9cfa7;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #f6b48f;
}
