# Ignore everything in the root 
/*
# Un-ignore markdown files and wireframe pngs.
!/*.md
!/wireframe*.png
# Ignore working trees
/alpha/
/stable/
/beta/
# ignore private keys
*.pgp
*.p8
*.py
# Un-ignore gitignore
!.gitignore